<!-- start custom head snippets -->
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
<link rel="shortcut icon" href="/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="liam site" />
<link rel="manifest" href="/favicons/site.webmanifest" />
{% if page.layout == 'single' %}
    <script async data-uid="59d5f9efa6" src="https://liam-lawless.kit.com/59d5f9efa6/index.js"></script>
{% endif %}
<!-- end custom head snippets -->
